.app {
  width: 100%;
}

.app-header {
  margin-bottom: 2rem;
}

.app-header h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}

.app-main {
  padding: 1rem;
}

.app-main p {
  font-size: 1.2em;
  line-height: 1.6;
}
